### your site title here

title: Jordi Just Alcaraz
description: PhD | Linguistics | USAL

baseurl: ""
url: "" #custom url to be used instead of GitHub repository
email: jordijustalcaraz@usal.es

# Pagination
paginate: 4
permalink: /blog/:year/:title/
paginate_path: /blog/page:num/

# Social media links in footer
twitter: "https://x.com/AlcarazJust"
bluesky: "https://bsky.app/profile/alcarazjust.bsky.social"
instagram: "https://www.instagram.com/_.jjordii._?igsh=MWl6emg3MjZ2dXllNw=="
facebook: "https://www.facebook.com/share/192R5eC5oq/"
github: "https://github.com/AlcarazJust"
orcid: "https://orcid.org/0000-0002-7003-5466"
academia-edu: "https://scholar.google.com/citations?user=fk0ngtIAAAAJ&hl=es"
google-scholar: "https://scholar.google.com/citations?user=fk0ngtIAAAAJ&hl=es"
researchgate: "https://www.researchgate.net/profile/Jordi-Just-Alcaraz"

# Markdown
highlighter: rouge
markdown: kramdown

# Tracker
analytics:

# optimization -> compress.html
compress_html:
  clippings: [html,div, p, ul, td, h1, h2, h3, h4,link, meta, footer, nav, img, header, hr, br, head, style, li, ul, ol, time, main, script, title]
  comments: ["<!-- ", " -->"]
  endings: [all]
  ignore:
    envs: [local]
  blanklines: false
  profile: true
  startings: []

#collection
collections:
  projects:
    output: true
    permalink: /projects/:name/
    order:
      - shortProject.md
      - longerProjectTitle.md
      - redirect.md
      - project4.md
      - project5.md
      - project6.md

sass:
  sass_dir: /assets/css/_sass
  style: compressed

include:
  - _pages

exclude:
  - README.md
  - LICENSE.md

plugins:
  - jekyll-seo-tag
  - jekyll-paginate
  - jekyll-email-protect
  - jekyll-target-blank
