### your site title here

title: Jordi Just Alcaraz
description: Predoc | Lingüística | USAL

baseurl: ""
url: "" #custom url to be used instead of GitHub repository
email: jordijustalcaraz@usal.es

# Pagination
paginate: 4
permalink: /blog/:year/:title/
paginate_path: /blog/page:num/

# Social media links in footer
twitter: "AlcarazJust"
bluesky: "alcarazjust.bsky.social"
instagram: "_.jjordii._?igsh=MWl6emg3MjZ2dXllNw=="
github: "AlcarazJust"
orcid: "0000-0002-7003-5466"
researchgate: "Jordi-Just-Alcaraz"
google_scholar: "citations?user=fk0ngtIAAAAJ&hl=es"
academia: "JordiJustAlcaraz"

# Markdown
highlighter: rouge
markdown: kramdown

# Tracker
analytics:

# optimization -> compress.html
compress_html:
  clippings: [html,div, p, ul, td, h1, h2, h3, h4,link, meta, footer, nav, img, header, hr, br, head, style, li, ul, ol, time, main, script, title]
  comments: ["<!-- ", " -->"]
  endings: [all]
  ignore:
    envs: [local]
  blanklines: false
  profile: true
  startings: []

#collection
collections:
  projects:
    output: true
    permalink: /projects/:name/
    order:
      - shortProject.md
      - longerProjectTitle.md
      - redirect.md
      - project4.md
      - project5.md
      - project6.md

sass:
  sass_dir: /assets/css/_sass
  style: compressed

include:
  - _pages

exclude:
  - README.md
  - LICENSE.md

plugins:
  - jekyll-seo-tag
  - jekyll-paginate
  - jekyll-email-protect
  - jekyll-target-blank
